<html>
  <body>
    <center>
      <%= yield %>

      <hr/>
      <%= link_to "Unsubscribe", unsubscribe_url(email: @email, token: @token), style: "font-size:11px;" %>
    </center>
  </body>
</html>
